<h1>Select the items from below</h1>


<%= form_tag 'result' do %>
    <hr>
    <div class="content">
        <% @items.each do |item| %>
            <div class="item">
                <div class="name"> <%= check_box_tag("item_ids[]", value = "#{item.id}", checked = false) %><%= item.name %></div>
                <div class="price"><%= number_with_precision(item.price, precision: 2)  %></div>
            </div>
        <% end %>
    </div>
    <hr>
    
    <div class="button"><%= submit_tag 'Purchase' %></div>
<% end %>


