<h1>Select the items from below</h1>
<hr>



<%= form_tag 'result' do %>

    <% @items.each do |item| %>
    <div>
        <%= check_box_tag("item_ids[]", value = "#{item.id}", checked = false) %>
        <%= item.name %>
        <%= item.price %>
    </div>
    <% end %>
    <hr>
    <div><%= submit_tag 'Save' %></div>
<% end %>


